:root {
  font-family: 'Book Antiqua', 'Palatino', 'Palatino Linotype', Georgia, serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(53, 53, 53);
  background-image: url("magic-school-lms/src/assets/strixhaven-campus.webp");
  background-size: cover;
  background-position: center;
}

a {
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("magic-school-lms/src/assets/strixhaven-campus.webp");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3em;
  line-height: 1;
  color: #ffffff;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}