:root {
  font-family: 'Book Antiqua', 'Palatino', 'Palatino Linotype', Georgia, serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(53, 53, 53);
  background-image: url("magic-school-lms/src/assets/strixhaven-campus.webp");
  background-size: cover;
  background-position: center;
}

a {
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-image: url("magic-school-lms/src/assets/strixhaven-campus.webp");
  background-size: cover;
  background-position: center; */
}

h1 {
  font-size: 3em;
  line-height: 1;
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.login-register-link {
  display: inline-block;
  width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #218380;
}

/* style text selection */
/* ::selection {
  background-color: #82439F;
  color: #ffffff;
} */