.card {
    width: auto;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #82439F;
    padding: 10px;
    margin: 20px 10px;
}

.card-title,.card-description{
    width: 50%;
    height: fit-content;
    text-align: left;
    margin: 0px 0px 0px;
    color: #ffffff;
}

.card-username, .card-email, .card-role {
    width: 50%;
    height: fit-content;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 10px;
    color: #ffffff;
}

.card-button, .second-card-button {
    text-align: center;
    width: 40%; 
    height: fit-content;
    margin: 0px 0px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 20px;
    background-color: #E3D3E4;
    color: #82439F;
}

.card-button:hover, .second-card-button:hover{
    background-color: #dbb8df;
}

.card-button--enrolled {
    background-color: #218380;
    color: #ffffff;
    cursor: default;
}

.card-button--enrolled:hover {
    background-color: #218380;
    color: #ffffff;
    cursor: default;
}

.delete-user-card, .delete-course-card{
    display: flex;
    justify-content: center;
    
}

.delete-user-page, .delete-course-page{
    padding: 10px 10px;
}

@media only screen and (max-width: 600px) {
    .card {
    width: auto;
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 5px;
    }

    .card-title{
        width: 50%;
        height: fit-content;
        font-size: 18px;
    }

    .card-description, .card-username, .card-email, .card-role {
        width: 50%;
        height: fit-content;
        font-size: 16px;
    }

    .card-button, .second-card-button {
        width: 40%; 
        height: fit-content;
        font-size: 16px;
        padding: 5px 5px;
        
    }
}

@media only screen and (min-width: 600px) {
    .card {
    width: auto;
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 5px;
    }

    .card-title{
        width: 50%;
        height: fit-content;
        font-size: 18px;
    }

    .card-description, .card-username, .card-email, .card-role {
        width: 50%;
        height: fit-content;
        font-size: 16px;
    }

    .card-button, .second-card-button {
        width: 40%; 
        height: fit-content;
        font-size: 16px;
        padding: 5px 5px;
        
    }
}

@media only screen and (min-width: 768px) {
    .card {
    width: auto;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 10px;
    }

    .card-title{
        width: 50%;
        height: fit-content;
        font-size: 20px;
    }

    .card-description, .card-username, .card-email, .card-role {
        width: 50%;
        height: fit-content;
        font-size: 18px;
    }

    .card-button, .second-card-button {
        width: 40%; 
        height: fit-content;
        font-size: 18px;
        padding: 10px 10px;
    }
}

@media only screen and (min-width: 900px) {
    .card {
    width: auto;
    height: fit-content;
    border-radius: 7px;
    padding: 10px;
    margin: 20px 10px;
    }

    .card-title,.card-description{
        width: 50%;
        height: fit-content;
    }

    .card-username, .card-email, .card-role {
        width: 50%;
        height: fit-content;
        font-size: 20px;
    }

    .card-button, .second-card-button {
        width: 40%; 
        height: fit-content;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .card {
    width: auto;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 10px;
    }

    .card-title,.card-description{
        width: 50%;
        height: fit-content;
    }

    .card-username, .card-email, .card-role {
        width: 50%;
        height: fit-content;
        font-size: 20px;
    }

    .card-button, .second-card-button {
        width: 40%; 
        height: fit-content;
        font-size: 20px;
    }
}