.input-card {
    width: 700px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #82439F;
    padding: 20px;
    margin: 20px 10px;
}

.input-card-title-label, .input-card-description-label, .input-card-username-label, .input-card-role-label, .input-card-email-label, .input-card-role-label {
    text-align: left;
    align-items: left;
    color: #ffffff;
    font-size: 20px;
    font-family: inherit;
}

.input-card-username, .input-card-title, .input-card-email{
    text-align: left;
    align-items: left;
    padding: 10px;
    margin: 5px 5px 10px;
    color: #ffffff;
    background-color: #451A58;
    border-radius: 5px;
    font-size: 20px;
    font-family: inherit;
    width: 80%;
    height: fit-content;
}

.input-card-role{
    width: fit-content;
    color: #ffffff;
    background-color: #451A58;
    border-radius: 5px;
    font-size: 20px;
    font-family: inherit;
}

.input-card-title::placeholder, .input-card-content::placeholder {
  opacity: 0.5;
  color: #E3D3E4;
  font-size: 20px;
}

.input-card-username:focus, .input-card-title:focus, .input-card-role:focus, .input-card-email:focus{
    outline: none;
    border: #E3D3E4 2px solid;
}

.input-card-content{
    height: fit-content;
    width: 100%;
    color: #ffffff;
    background-color: #451A58;
    border-radius: 5px;
    font-size: 20px;
    font-family: inherit;
    padding: 10px;
    border: none;
    resize: none;

}

.input-card-content:focus{
    outline: none;
    border: #E3D3E4 2px solid;
}

.input-card-button, .input-second-card-button {
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 0px 0px 10px;
    display: block;
    font-size: 20px;
    background-color: #E3D3E4;
    color: #82439F;
}

.input-card-button:hover, .input-second-card-button:hover{
    background-color: #dbb8df;
}