.navbar {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}

.navbar-crest{
    float: left;
    padding: 15px 20px;
    width: 225px;
    height: auto;
}

.navbar-button {
    
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    margin-top: 15px;;
    border-radius: 10px;
    font-size: 25px;
    background-image: linear-gradient(135deg, #E3D3E4 0%, #218380 100%);
    color: #785080;
}

.navbar-welcome {
    float: right;
    margin-left: auto;
    font-size: 25px;
    color: #E3D3E4;
}

.navbar-login {
    float: right;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    margin: 15px 20px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #218380;
}